div.container {
  height: 500px;
  border: 2px solid lightgrey;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

div.item {
  display: flex;
  width: 220px;
  background-color: lightblue;
  margin: 5px;
}

p {
  margin: auto;
}
