body {
  font-family: arial;
}

.head {
  border: 1px solid white;
  background: linear-gradient(to right, dodgerblue, lightgreen);
  width: auto;
  height: 50px;
}

.logo {
  width: 25px;
  height: 25px;
}

.center {
  text-align: center;
}

.right {
  float: right;
  color: white;
}
.conditions {
text-align: center;
color: grey;
font-size: 10px;
}

input[type=submit], input[type=reset] {
  color: white;
  font-size: 18px;
 width:280px;
 height: 40px;
 background-color: #1DA1F2;
 border-radius: 10px;
 }
